<div class="topbar clearfix">
      <%- include topbar.ejs -%>
</div>
    <header class="header">
      <%- include header.ejs-%>
    </header>
      <section id="intro">
        <div class="container">
          <div class="ror">
            <div class="col-md-8 col-md-offset-2">
                <img class="lazyOwl" src="images/TOEHeading-transparent.png" alt="">
            </div>
          </div>
        </div>
      </section>
      <section class="section1">
        <div class="container">
            <div>
                <p><strong>Theory of Everything is a spiritual and social theory because it goes to the ultimate cause of nature, and describes the universal energy that is all around us.</strong></p> 
                <p>This is the simple reality of how everything and everyone is connected. These relationships and connections rest upon the self-evident axioms of the single digit numbers and their referential interpretation.</p>
                <p>Einstein and Hawking failed to deliver a Theory of Everything (T0E for short), because they got too caught up in the physical side.</p>
                <p>Take a look at this simple, beautiful and elegant theory that is going to change the world, for once you get a taste of it you will come to realise you needed this theory like a fish needs water.</p> 
                <p>You will come to realise we are not materialistic and consumeristic slaves as the 'masters of the economy' would have us realise, but rather exhalted spiritual beings of love, because love in its many forms is the primary motivation of humanity.</p></h4>
              </div>      
      <section class="section1 text-center">
        <div>
          <app-root></app-root>
        </div>
      </section>
      <!-- end section1 -->
    <div class="dmtop">Scroll to Top</div>
</div><!-- /.container -->