<footer class="footer">
        <div class="container">
            <div class="widget col-lg-3 col-md-3 col-sm-12">
                <h4 class="title">About us</h4>
                <div class="container"  style="padding-top: 50px">
                        <a class="button small" href="about">read more</a>
                </div>
            </div>
            <!-- end widget -->
            <div class="widget col-lg-3 col-md-3 col-sm-12">
            <h4 class="title">Recent Posts</h4>
            <ul class="recent_posts">
                <li>
                <a href="home#">
                            <img src="images/recent_post_01.png" alt="" />Our New Dashboard Is Here</a>
                <a class="readmore" href="#">read more</a>
                </li>
                <li>
                <a href="home">
                            <img src="images/recent_post_02.png" alt="" />Design Is In The Air</a>
                <a class="readmore" href="#">read more</a>
                </li>
            </ul>
            <!-- recent posts -->
            </div>
            <!-- end widget -->
            <div class="widget col-lg-3 col-md-3 col-sm-12">
            <h4 class="title">Get In Touch</h4>
            <ul class="contact_details">
                <li><i class="fa fa-envelope-o"></i>7ross22@gmail.com</li>
                <li><i class="fa fa-phone-square"></i>09 888 8888</li>
                <li><i class="fa fa-home"></i>Henderson Valley Henderson</li>
                <li><a href="https://www.facebook.com/The-Theory-of-Everything-A-beginners-guide-218831355373032"><i class="fa fa-facebook"></i>Facebook</a></li>
            </ul>
            <!-- contact_details -->
            </div>
            <!-- end widget -->
            <div class="widget col-lg-3 col-md-3 col-sm-12">
            <h4 class="title">Flickr Stream</h4>
            <ul class="flickr">
                <li><a href="https://www.flickr.com/photos/160230135@N08/"><img alt="" src="images/flickr_01.jpg"></a></li>
            </ul>
            </div>
            <!-- end widget -->
        </div>
        <!-- end container -->
    
        <div class="copyrights">
            <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 columns footer-left">
                <p>Copyright © 2018  - All rights reserved.</p>
                <div class="credits">
                </div>
            </div>
            <!-- end widget -->
            <div class="col-lg-6 col-md-6 col-sm-12 columns text-right">
                <div class="footer-menu right">
                <ul class="menu">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Site Terms</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
                </div>
            </div>
            <!-- end large-6 -->
            </div>
            <!-- end container -->
        </div>
        <!-- end copyrights -->
        </footer>
