<div class="container">
  <div class="site-header clearfix">
    <div class="col-lg-3 col-md-3 col-sm-12 title-area">
      <div class="site-title" id="title">
        <a href="index" title="">
          <h4>Discovery<span>Press</span></h4>
        </a>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
      <div id="nav" class="right">
        <div class="container clearfix">
          <ul id="jetmenu" class="jetmenu blue">
            <li class="active"><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="otherBooks">Other Books</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
