<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
        <li><a href="index">Home</a></li>
        <li>About</li>
        </ul>
        <h2>OtherBooks</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
        <form action="" method="get">
            <fieldset>
            <input type="image" src="images/pixel.gif" class="searchsubmit" alt="" />
            <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
            </fieldset>
        </form>
        </div>
        <!-- / end div .search-bar -->
    </div>
</div>
  