<script type="text/javascript" src="./lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/prettyphoto/js/prettyphoto.js"></script>
<script src="lib/isotope/isotope.min.js"></script>
<script src="lib/unveil-effects/unveil-effects.js"></script>
<script src="lib/hover/hoverdir.js"></script>
<script src="lib/hover/hoverex.min.js"></script>
<script src="lib/owl-carousel/owl-carousel.js"></script>
<script src="lib/jetmenu/jetmenu.js"></script>
<script src="lib/animate-enhanced/animate-enhanced.min.js"></script>
<script src="lib/jigowatt/jigowatt.js"></script>
<script src="lib/easypiechart/easypiechart.min.js"
<script src="js/main.js"></script>

<!-- <script type="text/javascript" src="./ClientApp/dist/inline.js"></script> -->
<script type="text/javascript" src="./dist/runtime.js"></script>
<script type="text/javascript" src="./dist/vendor.js"></script>
<script type="text/javascript" src="./dist/polyfills.js"></script>
<script type="text/javascript" src="./dist/styles.js"></script>
<script type="text/javascript" src="./dist/main.js"></script></body>
